.dependencies {
}

.report {
    margin-top: 5px;
    flex-grow: 1;
}

.report-list {
    flex-grow: 2;
    margin-top: 5px;
    min-height: 60px;
    background-color: rgb(32, 32, 32);
}
